$color-primary: #FF9900;
$color-additional: #FF7549;
$color-background: #f9f9fb;
$color-background-card: #ffffff;
$color-link: #1943EF;
$color-tag: #F5F5F5;
$color-text: #000000;
$color-heading: #2F281E;
$color-border: #D7D7D7;
$color-hovered: #BCD0E5;
$color-light: #ffffff;
$color-hamburger: #173A56;
$color-overlay: rgba(80, 80, 80, 0.4);